.cstock {
  width: 960px;
  margin: 0 auto;

  .left {
    width: 640px;
    display: flex;
    flex-direction: column;

    .chooseMarket {
    }

    .chooseRange {
      display: flex;
      height: 40px;
      padding: 0px 10px 0px 10px;
      background-color: #f8f8f8;
      border: 1px solid #eee;
      justify-content: space-between;
      align-items: center;
    }
  }
}
