<div class="cstock">
  <div class="left">
    <!--  -->
    <div class="chooseMarket">
      <span>沪深</span>
      <span>港股</span>
      <span>美股</span>
    </div>

    <!--  -->
    <div class="chooseRange">
      <!-- 1 -->
      <div class="rangeItem">
        <span>市场：</span>
        <select name="rangeMarker">
          <option value="sh_sz">全部A股</option>
          <option value="sha">沪市A股</option>
          <option value="sza">深市A股</option>
        </select>
      </div>
      <!-- 2 -->
      <div class="rangeItem">
        <span>行业：</span>
        <select name="rangeMarker">
          <option value="sh_sz">全部A股</option>
          <option value="sha">沪市A股</option>
          <option value="sza">深市A股</option>
        </select>
      </div>
      <!-- 3 -->
      <div class="rangeItem">
        <span>地域板块：</span>
        <select name="rangeMarker">
          <option value="sh_sz">全部A股</option>
          <option value="sha">沪市A股</option>
          <option value="sza">深市A股</option>
        </select>
      </div>
    </div>
    <!--  -->
  </div>
  <div class="right"></div>
</div>
