<div class="cstock">
  <div class="left">
    <!--  -->
    <div class="chooseMarket">
      <span>沪深</span>
      <span>港股</span>
      <span>美股</span>
    </div>

    <!-- 选择范围 -->
    <h4>选择范围</h4>
    <div class="chooseRange">
      <!-- 1 -->
      <div class="rangeItem">
        <span>市场：</span>
        <select name="rangeMarker1" [(ngModel)]="exchange">
          <option value="sh_sz">全部A股</option>
          <option value="sha">沪市A股</option>
          <option value="sza">深市A股</option>
        </select>
      </div>
      <!-- 2 -->
      <div class="rangeItem">
        <span>行业：</span>
        <select name="rangeMarker2" [(ngModel)]="indcode">
          <option value="">全部</option>
          <option [value]="item.encode" *ngFor="let item of industriesList">
            {{ item.name }}
          </option>
        </select>
      </div>
      <!-- 3 -->
      <div class="rangeItem">
        <span>地域板块：</span>
        <select name="rangeMarker3" [(ngModel)]="areacode">
          <option value="">全部</option>
          <option [value]="item" *ngFor="let item of areaList">
            {{ areas[item] }}
          </option>
        </select>
      </div>
    </div>

    <!-- 条件设置 -->
    <h4>条件设置</h4>
    <div class="tools">
      <!-- tab列表 -->
      <div class="toolsTabs">
        <div
          class="tabItem"
          *ngFor="let item of tabList; let i = index"
          [class]="{ tabActive: currentTabActive === i }"
          (click)="toggleTabs(item, i)"
        >
          <span>{{ item }}</span>
        </div>
      </div>

      <!-- 内容 -->
      <div class="toolsContent">
        <div *ngIf="currentTab === '财务报表'" class="tabContent">
          <div class="updown">
            <!--  -->
            <h5>利润表</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                (change)="checkField(item)"
                *ngFor="
                  let item of tabObj[currentTab][0]['利润表'];
                  let i = index
                "
              >
                <input
                  type="checkbox"
                  [value]="item.field"
                  [id]="item.field"
                  [name]="item.field"
                />
                <label [for]="item.field" [title]="item.name">
                  {{ item.name }}
                </label>
              </div>
            </div>
            <!--  -->
            <h5>每股数据</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                (change)="checkField(item)"
                *ngFor="
                  let item of tabObj[currentTab][1]['每股数据'];
                  let i = index
                "
              >
                <input
                  type="checkbox"
                  [value]="item.field"
                  [id]="item.field"
                  [name]="item.field"
                />
                <label [for]="item.field" [title]="item.name">
                  {{ item.name }}
                </label>
              </div>
            </div>

            <!--  -->
            <h5>资产负债表</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                (change)="checkField(item)"
                *ngFor="
                  let item of tabObj[currentTab][2]['资产负债表'];
                  let i = index
                "
              >
                <input
                  type="checkbox"
                  [value]="item.field"
                  [id]="item.field"
                  [name]="item.field"
                />
                <label [for]="item.field" [title]="item.name">
                  {{ item.name }}
                </label>
              </div>
            </div>

            <!--  -->
            <h5>现金流量表</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                (change)="checkField(item)"
                *ngFor="
                  let item of tabObj[currentTab][3]['现金流量表'];
                  let i = index
                "
              >
                <input
                  type="checkbox"
                  [value]="item.field"
                  [id]="item.field"
                  [name]="item.field"
                />
                <label [for]="item.field" [title]="item.name">
                  {{ item.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab !== '财务报表'" class="tabContent">
          <div
            class="checkItem"
            *ngFor="let item of tabObj[currentTab]"
            (change)="checkField(item)"
          >
            <input
              type="checkbox"
              [value]="item.field"
              [id]="item.field"
              [name]="item.field"
            />
            <label [for]="item.field" [title]="item.name">
              {{ item.name }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- 筛选条件 -->
    <h4>筛选条件</h4>
    <div class="stockSelectedList">
      <!-- 头部 -->
      <div class="header">
        <span class="headerItem">条件</span>
        <span class="headerItem">最小值</span>
        <span class="headerItem">条件范围/股票分布</span>
        <span class="headerItem">最大值</span>
        <span class="headerItem">删除</span>
      </div>
      <!-- 筛选列表 -->
      <div class="SelectedListContent">
        <div class="stockContentItem" *ngFor="let item of stockSelectedList">
          <span class="stockContentSpan">
            {{ item.name }}
          </span>
          <span class="stockContentSpan">
            <input type="text" [(ngModel)]="item.Cmin" />
          </span>
          <!-- <span class="stockContentSpan">
            <input
              type="range"
              [(ngModel)]="item.Cmin"
              [attr.min]="item.min"
              [attr.max]="item.max"
            />
          </span> -->
          <span class="stockContentSpan"> </span>
          <span class="stockContentSpan">
            <input type="text" [(ngModel)]="item.Cmax" />
          </span>
          <!-- <span class="stockContentSpan">
            <input
              type="range"
              [(ngModel)]="item.Cmax"
              [attr.min]="item.min"
              [attr.max]="item.max"
            />
          </span> -->
          <span class="stockContentSpan" (click)="checkField(item)">
            删除
          </span>
        </div>
      </div>
    </div>
    <div>
      <button (click)="getStock()">开始选股</button>
    </div>
    <!-- 筛选条件end -->

    <!-- 筛选结果列表 -->
    <h4>筛选结果列表</h4>
    <div class="sxstockList">
      <span>一共有{{ sxStocksLength }}条结果</span>
      <div class="stockItem">
        <table>
          <thead>
            <tr>
              <th>名称</th>
              <th>symbol</th>
              <th>价格</th>
              <th>indcode</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of sxStocksList">
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.symbol }}</td>
              <td>{{ item.current }}</td>
              <td>{{ item.indcode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 筛选结果列表end -->
  </div>
  <div class="right"></div>
</div>
