<div class="cstock">
  <div class="left">
    <!--  -->
    <div class="chooseMarket">
      <span>沪深</span>
      <span>港股</span>
      <span>美股</span>
    </div>

    <!-- 选择范围 -->
    <h4>选择范围</h4>
    <div class="chooseRange">
      <!-- 1 -->
      <div class="rangeItem">
        <span>市场：</span>
        <select name="rangeMarker">
          <option value="sh_sz">全部A股</option>
          <option value="sha">沪市A股</option>
          <option value="sza">深市A股</option>
        </select>
      </div>
      <!-- 2 -->
      <div class="rangeItem">
        <span>行业：</span>
        <select name="rangeMarker">
          <option value="">全部</option>
          <option [value]="item.encode" *ngFor="let item of industriesList">
            {{ item.name }}
          </option>
        </select>
      </div>
      <!-- 3 -->
      <div class="rangeItem">
        <span>地域板块：</span>
        <select name="rangeMarker">
          <option value="">全部</option>
          <option [value]="item" *ngFor="let item of areaList">
            {{ areas[item] }}
          </option>
        </select>
      </div>
    </div>

    <!-- 条件设置 -->
    <h4>条件设置</h4>
    <div class="tools">
      <!-- tab列表 -->
      <div class="toolsTabs">
        <div
          class="tabItem"
          *ngFor="let item of tabList; let i = index"
          [class]="{ tabActive: currentTabActive === i }"
          (click)="toggleTabs(item, i)"
        >
          <span>{{ item }}</span>
        </div>
      </div>

      <!-- 内容 -->
      <div class="toolsContent">
        <div *ngIf="currentTab === '财务报表'" class="tabContent">
          <div class="updown">
            <!--  -->
            <h5>利润表</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                *ngFor="
                  let item of tabObj[currentTab][0]['利润表'];
                  let i = index
                "
              >
                <input type="checkbox" [value]="item.field" [id]="item.adj" />
                <label [for]="item.adj">{{ item.name }}</label>
              </div>
            </div>
            <!--  -->
            <h5>每股数据</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                *ngFor="
                  let item of tabObj[currentTab][1]['每股数据'];
                  let i = index
                "
              >
                <input type="checkbox" [value]="item.field" [id]="item.adj" />
                <label [for]="item.adj">{{ item.name }}</label>
              </div>
            </div>

            <!--  -->
            <h5>资产负债表</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                *ngFor="
                  let item of tabObj[currentTab][2]['资产负债表'];
                  let i = index
                "
              >
                <input type="checkbox" [value]="item.field" [id]="item.adj" />
                <label [for]="item.adj">{{ item.name }}</label>
              </div>
            </div>

            <!--  -->
            <h5>现金流量表</h5>
            <div class="contentItem">
              <div
                class="checkItem"
                *ngFor="
                  let item of tabObj[currentTab][3]['现金流量表'];
                  let i = index
                "
              >
                <input type="checkbox" [value]="item.field" [id]="item.adj" />
                <label [for]="item.adj">{{ item.name }}</label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab !== '财务报表'" class="tabContent">
          <div class="checkItem" *ngFor="let item of tabObj[currentTab]">
            <input type="checkbox" [value]="item.field" [id]="item.adj" />
            <label [for]="item.adj">{{ item.name }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>
