<div class="header">
  <div class="nav">
    <div class="log">
      <img src="../assets/images/logo.png" alt="" />
    </div>
    <div class="navlist">
      <div class="navitem" [routerLink]="['/']">首页</div>
      <div class="navitem" [routerLink]="['/screener']">股票筛选</div>
      <div class="navitem" [routerLink]="['/newstock']">新股上市</div>
    </div>
    <!-- 搜索框 -->
    <div class="search">
      <input type="text" placeholder="请输入搜索的内容" />
      <span class="searchIcon"></span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
