<div class="newsList">
  <div class="newsItem" *ngFor="let item of hostList; let i = index">
    <h3>{{ item.original_status.title }}</h3>
    <p>{{ item.original_status.description }}</p>
    <div>
      <span class="headerImg">
        <!-- 循环用户头像 -->
        <img
          [src]="'../../../assets/images/userIcon/' + (i % 7) + '.png'"
          alt=""
        />
      </span>
      <span class="username">
        {{ item.original_status.user.screen_name }}
      </span>
      <span class="category">
        {{ item.original_status.column }}
      </span>
      <span class="time">
        {{ item.original_status.created_at | date: "MM-dd HH:mm:ss" }}
      </span>
    </div>
  </div>
</div>
