<div class="content">
  <!-- 查看列表 -->
  <div class="filterContent">
    <div class="filter">
      <!-- start -->
      <span> 从第几条开始 </span>
      <input type="text" [(ngModel)]="start" />

      <!-- limit -->
      <span> 查询数量 </span>
      <input type="text" [(ngModel)]="limit" />
      <button (click)="getLogList()">获取api</button>
    </div>
    <!-- 日志列表 -->
    <div class="logList table-responsive">
      <table class="table table-hover">
        <caption>
          api请求结果
        </caption>
        <thead>
          <tr>
            <th>序号</th>
            <!-- <th>id</th> -->
            <th>时间</th>
            <th>api</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of logList; let i = index">
          <tr>
            <td>{{ i + 1 }}</td>
            <!-- <td>{{ item._id }}</td> -->
            <td>{{ item.time | date: "MM-dd HH:mm:ss" }}</td>
            <td>{{ item.api }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
