.content {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  .weiqi {
    position: relative;
    height: 500px;
    width: 500px;
    background: url(../../../assets/images/qipu.jpg) no-repeat;

    .qiItem {
      width: 500px;
      height: 500px;
      .redQi {
        position: relative;
        height: 24px;
        width: 24px;
        display: inline-block;
        background: url(../../../assets/images/xiangqi/red.svg) no-repeat;
        background-size: 24px 24px;
      }
      .yellowQi {
        position: relative;
        height: 24px;
        width: 24px;
        display: inline-block;
        background: url(../../../assets/images/xiangqi/yellow.svg) no-repeat;
        background-size: 24px 24px;
      }
    }
  }
}
